<nav>

    <div class="container-fluid">

        <ul class="nav nav-tabs">

            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
            <li>@Html.ActionLink("Movimentações", "Index", "Movimentacao")</li>



            @if (User.Identity.IsAuthenticated)
            {

                <li>@Html.ActionLink("Deslogar", "Deslogar", "Login")</li>

            }

            else

            {

                <li>@Html.ActionLink("Login", "Index", "Login")</li>

            }


        </ul>

    </div>

</nav>